.cabecera { 
    align-items: center;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;

}
.menu-lista{
   display: flex;
}

.menu-item{
    list-style: none;
}

.menu-link{
    color:antiquewhite;
    margin-right: 1.25rem;
    text-decoration: none;

}

.menu-link.activo{
    color: #333333;
}





    

  

@media screen and (min-width:0) {
    .cabecera{
        padding: 0 1rem;
        justify-content: center;
    }
}

@media screen and (min-width:768px) {
    .cabecera{
        padding: 0 5rem;
        justify-content: space-between;
    }
}
















